/ {
    chosen {
        zmk,keyboard = &fortyeight;
    };
};

&fortyeight {
    compatible = "zmk,keyboard";
    label = "FortyEight";

    diode-direction = "col2row";
    matrix-row-gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,  // PF0
                       <&gpio0 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,  // PF1
                       <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,  // PF4
                       <&gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;  // PF5

    matrix-col-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>,  // PB0
                       <&gpio1 1 GPIO_ACTIVE_HIGH>,  // PB1
                       <&gpio1 2 GPIO_ACTIVE_HIGH>,  // PB2
                       <&gpio1 3 GPIO_ACTIVE_HIGH>,  // PB3
                       <&gpio1 4 GPIO_ACTIVE_HIGH>,  // PB4
                       <&gpio1 5 GPIO_ACTIVE_HIGH>,  // PB5
                       <&gpio1 6 GPIO_ACTIVE_HIGH>,  // PB6
                       <&gpio1 7 GPIO_ACTIVE_HIGH>,  // PB7
                       <&gpio2 0 GPIO_ACTIVE_HIGH>,  // PC0
                       <&gpio2 1 GPIO_ACTIVE_HIGH>,  // PC1
                       <&gpio2 2 GPIO_ACTIVE_HIGH>,  // PC2
                       <&gpio2 3 GPIO_ACTIVE_HIGH>,  // PC3
                       <&gpio2 4 GPIO_ACTIVE_HIGH>,  // PC4
                       <&gpio2 5 GPIO_ACTIVE_HIGH>;  // PC5
};
